In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp310-cp310-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.22.4 in c:\startingml\venv\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\startingml\venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\startingml\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp310-cp310-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
    --------------------------------------- 0.3/11.6 MB ? eta -:--:--
    --------------------------------------- 0.3/11.6 MB ? eta -:--:--
    --------------------------------------- 0.3/11.6 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.6 MB 452.8 kB/s eta 0:00:25
   - -------------------------------------- 0.5/11.6 MB 452.8 kB/s eta 0:00:25
   - -------------------------------------- 0.5/11.6 MB 452.8 kB/s eta 0:00:25
   -- ------------------------------------- 0.8/11.6 MB 414.1 kB/s eta 0:00:27
   -- ------------------------------------- 0.8/11.6 MB 414.1 kB/s eta 0:00:27
   --- ------------------------------------ 1.0/11.6 MB 453.3 kB/s eta 0:00:24
   --- ------------------------------------ 1.0/11.6 MB 453.3 kB/s eta 0:00:24
   ---- ----------------------------------- 1.3/11.6 MB 482.8 kB/s eta 0:00:22
   ---- ----------------------------------- 1.3/11.6 MB 482.8 kB/s eta 0:00:22
   ----- ---------------------------------- 1.6/11.6 MB 511.4 kB/s eta 0:00:20
   ----- ---------------------------------- 1.6/11.6 MB 511.4 kB/s eta 0:00:20
   ------ --------------------------------- 1.8/11.6 MB 535.4 kB/s eta 0:00:19
   ------- -------------------------------- 2.1/11.6 MB 561.9 kB/s eta 0:00:17
   ------- -------------------------------- 2.1/11.6 MB 561.9 kB/s eta 0:00:17
   -------- ------------------------------- 2.4/11.6 MB 586.0 kB/s eta 0:00:16
   --------- ------------------------------ 2.6/11.6 MB 608.9 kB/s eta 0:00:15
   --------- ------------------------------ 2.6/11.6 MB 608.9 kB/s eta 0:00:15
   --------- ------------------------------ 2.9/11.6 MB 630.6 kB/s eta 0:00:14
   ---------- ----------------------------- 3.1/11.6 MB 654.3 kB/s eta 0:00:13
   ----------- ---------------------------- 3.4/11.6 MB 673.3 kB/s eta 0:00:13
   ------------ --------------------------- 3.7/11.6 MB 694.5 kB/s eta 0:00:12
   ------------- -------------------------- 3.9/11.6 MB 713.9 kB/s eta 0:00:11
   -------------- ------------------------- 4.2/11.6 MB 731.6 kB/s eta 0:00:11
   --------------- ------------------------ 4.5/11.6 MB 749.8 kB/s eta 0:00:10
   ---------------- ----------------------- 4.7/11.6 MB 764.5 kB/s eta 0:00:09
   ----------------- ---------------------- 5.0/11.6 MB 782.3 kB/s eta 0:00:09
   ------------------ --------------------- 5.2/11.6 MB 798.8 kB/s eta 0:00:08
   ------------------ --------------------- 5.5/11.6 MB 812.3 kB/s eta 0:00:08
   ------------------- -------------------- 5.8/11.6 MB 827.0 kB/s eta 0:00:08
   -------------------- ------------------- 6.0/11.6 MB 840.7 kB/s eta 0:00:07
   --------------------- ------------------ 6.3/11.6 MB 855.6 kB/s eta 0:00:07
   ---------------------- ----------------- 6.6/11.6 MB 867.8 kB/s eta 0:00:06
   ----------------------- ---------------- 6.8/11.6 MB 883.0 kB/s eta 0:00:06
   ------------------------- -------------- 7.3/11.6 MB 911.4 kB/s eta 0:00:05
   -------------------------- ------------- 7.6/11.6 MB 924.7 kB/s eta 0:00:05
   --------------------------- ------------ 7.9/11.6 MB 939.2 kB/s eta 0:00:04
   ---------------------------- ----------- 8.4/11.6 MB 966.6 kB/s eta 0:00:04
   ----------------------------- ---------- 8.7/11.6 MB 979.6 kB/s eta 0:00:04
   ------------------------------- -------- 9.2/11.6 MB 1.0 MB/s eta 0:00:03
   -------------------------------- ------- 9.4/11.6 MB 1.0 MB/s eta 0:00:03
   ---------------------------------- ----- 10.0/11.6 MB 1.1 MB/s eta 0:00:02
   ------------------------------------ --- 10.5/11.6 MB 1.1 MB/s eta 0:00:02
   ------------------------------------- -- 11.0/11.6 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 1.1 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2

## data manipulation with pandas, it provides two primary data types: series, frames. series is a one dimensional array like object and dataframe is two dimensional, sizemutable data structure

In [2]:
import pandas as pd
# series
data = [1,2,3,4,5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
## creating series from dictionary 
info = {"name":"Abhinav","age":30,"Post":"SA/IE"}
print(pd.Series(info))

name    Abhinav
age          30
Post      SA/IE
dtype: object

In [4]:
## giving index seperately
data = [1,2,3]
index=['a','b','c']
print(pd.Series(data,index=index))

a    1
b    2
c    3
dtype: int64

In [5]:
## DataFrame
# creating dataframe via dictionary
data = {
    "name":["rahul","joker","martin"],
    "age":[20,30,40],
    "city":["Chennai","Dubai","Norway"]
}
df = pd.DataFrame(data)
print(df)

     name  age     city
0   rahul   20  Chennai
1   joker   30    Dubai
2  martin   40   Norway

In [6]:
## create dataframe from list of dictionaries

data = [
    {"name":"Joker","age":1000,"city":"jammu"},
    {"name":"tim","age":1000,"city":"jammu"},
    {"name":"rizz","age":40,"city":"jammu"},
    {"name":"some","age":00,"city":"jammu"}
]
df = pd.DataFrame(data)
print(df)

    name   age   city
0  Joker  1000  jammu
1    tim  1000  jammu
2   rizz    40  jammu
3   some     0  jammu

In [9]:
# work with csv 
# read csv
dfa = pd.read_csv('online-retail-dataset.csv')
# top 5 data
dfa.head(5)
## last 5 records
dfa.tail(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [14]:
## accessing data from dataframe
data1 = [
    {"name":"Joker","age":1000,"city":"jammu"},
    {"name":"tim","age":1000,"city":"jammu"},
    {"name":"rizz","age":40,"city":"jammu"},
    {"name":"some","age":00,"city":"jammu"}
]
df1 = pd.DataFrame(data1)
df1["name"] ## this will give series of all name
## if you want the data index wise then
df1.loc[0]
df1.loc[0][0] # getting only first name

C:\Users\DIVYANSHU\AppData\Local\Temp\ipykernel_7676\4120120119.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1.loc[0][0] # getting only first name

'Joker'

In [17]:
## accessing the specific element 
df1.at[1,"age"] ## give age value of 1 row which is second based on 0 based indexing
## column wise specific value
df1.iat[2,2]

'jammu'

In [21]:
# data manipulation
# adding new column
df1["salary"] = [20000,35555,70000,79544]
## remove column 
df1.drop("salary",axis=1) # providing axis so that it should check row and column both to find 'salary' other wise it will check only row wise
# this is a temporary operation it will not save the state so to make this state should be save after the drop operation use inplace=True
df1.drop("salary",axis=1,inplace=True) 
df1

    name   age   city
0  Joker  1000  jammu
1    tim  1000  jammu
2   rizz    40  jammu
3   some     0  jammu

In [25]:
## increase age of every person by 1
df1['age'] = df1['age']+1
## describe 
# statistical description
df1.describe()

               age
count     4.000000
mean    513.000000
std     566.038868
min       3.000000
25%      33.000000
50%     523.000000
75%    1003.000000
max    1003.000000